<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="#"><i class="fa-brands fa-square-facebook fa-xl" style="color: #0e1115;"></i></a>
            <a href="#"><i class="fa-brands fa-instagram fa-xl" style="color: #0e1115;"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin fa-xl" style="color: #0e1115;"></i></a>

        </div>
        <h3>&copy; &nbsp;Wanderlust Private Limited</h3>
        <div class="f-info-links">
            <a href="#">Privacy</a>
            <a href="#">Terms</a>
        </div>
    </div>
</footer>